.about {
  padding-block: 114px;

  @include vp-1366 {
    padding-block: 101px;
  }

  @include vp-768 {
    padding-block: 70px;
  }
}

.about__wrap {
  position: relative;
  display: grid;
  grid-template-columns: 351px 1fr;
  column-gap: 85px;
  padding-bottom: 122px;
  min-height: 406px;

  @include vp-1366 {
    grid-template-columns: 1fr;
    column-gap: 0;
    padding-bottom: 83px;
  }

  @include vp-768 {
    display: block;
    min-height: 785px;
  }
}

.about__wrap-text {
  grid-column: 1 / 2;
  align-self: start;

  @include vp-1366 {
    grid-column: 1 / 2;
    justify-self: center;
  }
}

.about__wrap-text h2 {
  margin-top: 0;
  margin-bottom: 30px;
  font-family: $ff-alumni;
  font-size: 54px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 1.62px;
  color: $color-text;

  @include vp-1366 {
    margin-bottom: 19px;
    font-size: 42px;
    line-height: 42px;
    letter-spacing: 1.26px;
    text-align: center;
  }

  @include vp-768 {
    margin-bottom: 13px;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0.96px;
    text-align: start;
  }
}

.about__wrap-text h3 {
  margin-top: 0;
  margin-bottom: 94px;
  font-size: 22px;
  font-weight: 400;
  line-height: 22px;

  @include vp-1366 {
    margin-bottom: 35px;
    padding-right: 4px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }

  @include vp-768 {
    margin-bottom: 38px;
    font-size: 18px;
    text-align: start;
  }
}

.about__wrap-text p {
  margin: 0;
  font-size: 16px;
  line-height: 24px;

  &:not(:last-child) {
    margin-bottom: 8px;

    @include vp-1366 {
      margin-bottom: 37px;
    }
  }

  @include vp-1366 {
    max-width: 507px;
    text-align: center;
  }

  @include vp-768 {
    max-width: 100%;
    font-size: 14px;
    line-height: 22px;
    text-align: start;
  }

  &:last-of-type {
    @include vp-1366 {
      display: none;
    }
  }
}

.about__wrap-image {
  grid-column: 2 / 3;
  justify-self: end;
  align-self: start;
  padding-top: 5px;
  width: 660px;
  height: 406px;

  @include vp-1366 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    justify-self: center;
    padding-top: 0;
    width: 678px;
    height: 345px;
  }

  @include vp-768 {
    position: absolute;
    left: 50%;
    bottom: 207px;
    transform: translateX(-50%);
    width: 100vw;
    height: 313px;
  }
}

.about__wrap-image img {
  width: 660px;
  height: 401px;

  @include vp-1366 {
    width: 678px;
    height: 345px;
  }

  @include vp-768 {
    width: 100vw;
    height: 313px;
    object-fit: cover;
  }
}

.about__wrap-video {
  position: absolute;
  top: 294px;
  left: 437px;
  width: 364px;
  height: 228px;

  @include vp-1366 {
    top: auto;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 265px;
    height: 167px;
  }

  @include vp-768 {
    width: 100vw;
    height: 167px;
  }
}

.about__wrap-video img {
  width: 364px;
  height: 228px;

  @include vp-1366 {
    width: 265px;
    height: 167px;
  }

  @include vp-768 {
    width: 100vw;
    height: 167px;
    object-fit: cover;
  }
}

.about__wrap-video picture {
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: $color-overlay;
  }
}

.about__wrap-video iframe {
  display: none;
  width: 364px;
  height: 228px;
  border: none;

  @include vp-1366 {
    width: 265px;
    height: 167px;
  }

  @include vp-768 {
    width: 100vw;
    height: 167px;
  }
}

.about__wrap-video button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  padding: 0;
  width: 72px;
  height: 72px;
  background: $red-to-blue;
  border-radius: 50%;
  border: none;
  outline: 2px solid $color-btn-outline;
  outline-offset: 12px;
  cursor: pointer;
  transition: background-color $trans-default, outline-color $trans-default;

  @include vp-1366 {
    width: 51px;
    height: 51px;
    outline-offset: 8px;
  }

  @include hover-focus {
    background: $color-default-white;
    outline-color: $color-text;

    &:hover:not(.focus-visible) svg {
      color: $color-text;
    }

    &.focus-visible:focus svg {
      color: $color-text;
    }
  }

  @include active {
    background: $color-default-white;
    outline-color: $color-text;

    &:active:not(.focus-visible) {
      color: $color-text;
    }
  }

  &:disabled {
    background: $color-default-white;
    outline-color: $color-text;
    opacity: 0.4;
  }
}

.about__wrap-video button svg {
  position: absolute;
  top: 50%;
  left: 53%;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;
  color: $color-default-white;
  transition: color $trans-default;
}
