.btn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  background-color: $color-transparent;
  cursor: pointer;
  transition: color $trans-default, background-color $trans-default;

  @include vp-1366 {
    font-weight: 400;
  }

  @include vp-768 {
    font-weight: 700;
  }

  &--white-border {
    width: 230px;
    min-height: 66px;
    color: $color-default-white;
    border: 2px solid $color-default-white;

    @include vp-1366 {
      width: 185px;
      min-height: 56px;
    }

    @include vp-768 {
      width: 290px;
      min-height: 56px;
    }

    @include hover-focus {
      color: $color-accent-btn;
      background-color: $color-default-white;
    }

    @include active {
      color: $color-text;
    }
  }

  &--blue-border {
    width: 205px;
    min-height: 66px;
    color: $color-text;
    border: 2px solid $color-text;
    transition: color $trans-default;

    @include vp-1366 {
      min-height: 56px;
    }

    &::after {
      content: "";
      position: absolute;
      top: -2px;
      right: -2px;
      bottom: -2px;
      left: -2px;
      background: $red-to-blue;
      opacity: 0;
      transition: opacity $trans-default;
    }

    @include hover-focus {
      color: $color-default-white;
      border-color: $color-transparent;
      outline: none;

      &:hover:not(.focus-visible)::after {
        opacity: 1;
      }

      &.focus-visible:focus::after {
        opacity: 1;
      }
    }

    @include active {
      color: rgba(255, 255, 255, 0.7);
      border-color: $color-transparent;

      &:active:not(.focus-visible)::after {
        opacity: 1;
      }
    }
  }

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
  }
}
