.faq {
  padding-block: 120px;
  background-color: $color-bcg-section;
}

.faq__container h2 {
  margin-top: 0;
  font-family: $ff-alumni;
  font-size: 54px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 1.62px;
  color: $color-text;

  @include vp-1366 {
    font-size: 42px;
    line-height: 42px;
    letter-spacing: 1.26px;
  }

  @include vp-768 {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0.96px;
  }
}
