.faq {
  padding-block: 120px;
  background-color: $color-bcg-section;

  @include vp-1366 {
    padding-top: 102px;
    padding-bottom: 99px;
  }

  @include vp-768 {
    padding-block: 71px;
  }
}

.faq__container h2 {
  margin-top: 0;
  margin-bottom: 51px;
  font-family: $ff-alumni;
  font-size: 54px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 1.62px;
  color: $color-text;

  @include vp-1366 {
    margin-bottom: 49px;
    font-size: 42px;
    line-height: 42px;
    letter-spacing: 1.26px;
    text-align: center;
  }

  @include vp-768 {
    margin-bottom: 36px;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0.96px;
  }
}
