.header {
  position: absolute;
  top: 0;
  left: 0;
  padding-block: 30px;
  width: 100%;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo-link {
  display: block;
}

.header__logo-link img {
  width: 119px;
  height: 20px;
  object-fit: cover;

  @include vp-1366 {
    width: 110px;
    height: 19px;
  }

  @include vp-768 {
    width: 101px;
    height: 17px;
  }
}

.header__link {
  position: relative;
  font-size: 26px;
  font-weight: 700;
  line-height: 26px;
  color: $color-default-white;
  transition: color $trans-default;

  @include vp-1366 {
    font-size: 24px;
    line-height: 24px;
  }

  @include vp-768 {
    font-size: 22px;
    line-height: 22px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $color-text;
    transform: scale(0);
    transition: transform $trans-200;
  }

  @include hover-focus {
    color: $color-accent;
  }

  @include active {
    color: $color-text;

    &:active::after {
      transform: scale(1);
    }
  }
}
