.social {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  transform: translateY(-2px);

  @include vp-768 {
    justify-content: center;
    margin-top: 26px;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: $color-text;
  background-color: $color-default-white;
  transition: color $trans-default, background-color $trans-default;

  @include hover-focus {
    color: $color-default-white;
    background-color: $color-accent-btn;
  }

  @include active {
    color: $color-default-white;
    background-color: $color-text;
  }

  @include disabled {
    background-color: #d8dadf;
  }
}

.social__link svg {
  width: 13.88px;
  height: 13.88px;
}
